version: '3'
services:
  db:
    image: mysql:8.0.19
    environment:
      - MYSQL_ROOT_PASSWORD=
    ports:
      - "3306:3306"

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/chatapp
    ports:
      - "3000:3000"
    depends_on:
      - db
