<h1>Chat Room</h1>

<div id="messages">
  <%= render @messages %>
</div>

<%= label nil, nil, 'Say something:' %>
<%= text_field nil, nil, 'data-behavior': 'room_speaker' %>

<div id="end_chat">チャットを終了</div>
<div id="report_user">
  <%= link_to "ユーザーを通報", rooms_report_user_path(target_id: @target_id.id), method: :post %>
</div>
