@import "bootstrap-sprockets";
@import "bootstrap";

/*------------------------------------*\
    $ホーム
\*------------------------------------*/
#top_content {
  text-align: center;
}
.top_title {
  font-size: 140px;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  margin-top: 100px;
}
.top_detail {
  font-size: 20px;
  margin-top: 50px;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
.logined_top_title {
  font-size: 90px;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
.search {
}
.sform {
  margin-top: 50px;
  margin-bottom: 30px;
}
.sbox {
  padding: 0 10px;
  height: 70px;
  width: 400px;
  font-size: 28px;
  border: solid 1px #c7dbff;
  border-radius: 10px;
  background: #eee;
  outline: 0;
}
.sbtn {
  margin-left: 5px;
  height: 70px;
  width: 120px;
  border-radius: 2px;
  background: #75ddff;
  color: #fff;
  font-weight: bold;
  font-size: 26px;
  border-radius: 10px;
  border: none;
}
.sbtn:hover{
  background: #eee;
  color: #7fbfff;
}





/*------------------------------------*\
    $チャットルーム
\*------------------------------------*/
#messages {
}
#message_input_box {
  margin-bottom: 20px;
  padding: 0 10px;
  height: 30px;
  width: 240px;
  font-size: 15px;
  border: solid 1px #c7dbff;
  border-radius: 10px;
  outline: 0;
}
#messages_box {
  display: inline-flex;
  margin-bottom: 16px;
}
#my_messages_box {
  display: inline-flex;
  margin-bottom: 16px;
}
#chat_user_icon {
}
#chat_room_icon {
  border-radius: 50%;
  border: 2px solid #87cc90;
  width: 50px;
  height: 50px;
}
#chat_message {
  position: relative;
  display: inline-block;
  margin-top: 6px;
  margin-left: 15px;
  padding: 7px 10px;
  border-radius: 15px;
  min-width: 130px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}
#chat_message:before {
  content: "";
  position: absolute;
  top: 8px;
  left: -18px;
  border: 7px solid transparent;
  border-right: 15px solid #e0edff;
}
#my_chat_room_icon {
  float: left;
  border-radius: 50%;
  border: 2px solid #87cc90;
  width: 50px;
  height: 50px;
}
#my_chat_message {
  position: relative;
  display: inline-block;
  margin-top: 6px;
  margin-right: 15px;
  padding: 7px 10px;
  border-radius: 15px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #74ff6e;
}
#my_chat_message:before {
  content: "";
  position: absolute;
  top: 23px;
  left: 97%;
  margin-top: -15px;
  border: 7px solid transparent;
  border-left: 15px solid #74ff6e;
}
#make_question_now {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 7px 10px;
  font-weight: bold;
  color: #D375C6;
  background: #FFF;
  border: solid 3px #D375C6;
  border-radius: 10px;
}
#make_question_now:empty {
  display: none;
}







/*------------------------------------*\
    $マイページ
\*------------------------------------*/
#my_page_content {
  text-align: center;
}
.my_icon {
  border-radius: 50%;
  border: 4px solid #87cc90;
  width: 170px;
  height: 170px;
}
#my_name {
  display: inline;
  margin-left: 35px;
  font-size: 45px;
}
#my_search_id {
  display: inline;
  margin-left: 35px;
  font-size: 15px;
}
#chat_count {
  margin-top: 30px;
  font-size: 14px;
}
#my_introduction {
  margin-top: 12px;
  margin-bottom: 15px;
  font-size: 24px;
}
#input_hoby_box {

}
.input_hoby_name {
  height: 33px;
  padding: 0 10px;
  width: 200px;
  border: solid 1px #8eb0ff;
  border-radius: 2px;
  background: #f0f7f7;
  outline: 0;
}
.hoby_submit_btn {
  margin-left: 5px;
  width: 50px;
  height: 33px;
  border-radius: 2px;
  background: #5219ff;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
}
.hoby_area {
  width: 600px;
  margin: 0 auto;
}
#hoby {
  display: inline-block;
  padding: 7px 15px 7px 15px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 23px;
  color: #6091d3;
  background: #FFF;
  border: solid 3px #6091d3;
  border-radius: 10px;
}





/*------------------------------------*\
    $プロフィール編集ページ
\*------------------------------------*/
.my_icon_edit_page {
  border-radius: 50%;
  border: 4px solid #87cc90;
  width: 90px;
  height: 90px;
}





/*------------------------------------*\
    $ユーザー検索ページ
\*------------------------------------*/
#search_user_box {
  margin-bottom: 30px;
}
#search_user_name {
  font-size: 30px;
}
#search_user_profile {
  font-size: 15px;
}
#my_search_icon {
  border-radius: 50%;
  border: 2px solid #253dcc;
  width: 70px;
  height: 70px;
}

